<p>can-reserva works!</p>

<h1>La Casa de los Sabores</h1>

<p>"nav de botones"</p>
<button [routerLink]="['/']">Ver IniciandoSesion</button>
<button [routerLink]="['/RegistrandoUsuario']">Ver RegistrandoUsuario</button>
<button [routerLink]="['/PReserva']">Ver PReserva</button>
<button [routerLink]="['/ConReserva']">Ver ConReserva</button>
<button [routerLink]="['/CanReserva']">Ver CanReserva</button>
<button [routerLink]="['/GReservas']">Ver GReservas</button>
<button [routerLink]="['/Confirmacion']">Ver Confirmacion</button>
<button [routerLink]="['/Ocupacion']">Ver Ocupacion</button>

<p>Funcionalidad: Permitir a los comensales cancelar una reserva existente.
</p>
<p>Datos: Campo de identificación de la reserva (por ejemplo, número de confirmación o correo electrónico utilizado en la reserva).
</p>
<p>Acceso: Todos los comensales registrados en el sistema.
</p>
    