<p>greservas works!</p>

<h1>La Casa de los Sabores</h1>

<p>"nav de botones"</p>
<button [routerLink]="['/']">Ver IniciandoSesion</button>
<button [routerLink]="['/RegistrandoUsuario']">Ver RegistrandoUsuario</button>
<button [routerLink]="['/PReserva']">Ver PReserva</button>
<button [routerLink]="['/ConReserva']">Ver ConReserva</button>
<button [routerLink]="['/CanReserva']">Ver CanReserva</button>
<button [routerLink]="['/GReservas']">Ver GReservas</button>
<button [routerLink]="['/Confirmacion']">Ver Confirmacion</button>
<button [routerLink]="['/Ocupacion']">Ver Ocupacion</button>

<p>Funcionalidad: Permitir al administrador del restaurante ver y administrar todas las reservas existentes.
</p>
<p>Datos: Información de la reserva (fecha, hora, número de personas, observaciones, estado de la reserva).
</p>
<p>Acceso: Solo el administrador del restaurante.
</p>
    